<!DOCTYPE html>
<html>
<head>
  <title>Mi Web</title>
</head>
<body>
  <h1>Hola desde Flask</h1>
  <button onclick="presionarBoton()">Pedir Pizza Bacon</button>

  <script>
    function presionarBoton() {
      fetch('/boton', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ mensaje: 'PizzaBacon' })
      })
      .then(res => res.text())
      .then(data => alert(data));
    }
  </script>
</body>
</html>
